extends ./templates/_base.pug

block content
  h1 
    a(href="/" title="Nikhil Anand, Des Moines, Iowa") Hello!
  p
    span
      | I&rsquo;m 
      strong Nikhil Anand
      | . I help design and develop software &amp; systems for 
      a(href='https://www.corteva.us/products-and-solutions/digital-solutions.html' title="Corteva's (an agricultural company's) Software and Digital Services") Corteva
      |  and live with 
      a(href='https://catherineknepper.com/' title="My wife's professional website")
        strong my wife 
      |  , our children, and our 
      a(href='https://www.instagram.com/lunabear_the_husky_/' title='Photos of our little Husky doggy on Instagram')
        strong diva of a husky
      |  in wonderful 
      strong Des Moines, Iowa. 
      span.iowa
  p
    span
      strong
        a(href='https://log.nikhil.io' title='Where I blog about all sorts of things') I log
      | , maintain 
      a(href='https://wiki.nikhil.io' title="My personal wiki. Lots of articles that don't really fit a blogging format.") a small wiki
      | , and 
      strong
        a(href='https://instagram.com/afreeorange/' title='My Photos on Instagram') take pictures
      |  of things I like. You can find me 
      a(href='https://www.linkedin.com/in/afreeorange' title='My LinkedIn Profile') on LinkedIn
      |  or see my inchoate side-projects 
      a(href='https://github.com/afreeorange' title='My side-projects on Github') on GitHub
      | .
  p
    span  I hope you have a most splendid day! 

  p
    small
      span That&#8217;s a drawing of me by my buddy 
        a(href="https://mjvollenweider.com/") Mark Vollenweider
        |  of Iowa City.
