extends ./templates/_base.pug

block content
  h1
    a(href="/" title="Nikhil Anand, Des Moines, Iowa") Lost!
  p
    span You&#8217;ve found something that belongs to me.
  p
    span
      | I would 
      strong love
      |  for you to 
      strong return it to me
      | , and can either offer you a 
      strong reward 
      |  of your choosing or 
      strong donate to your favorite charity 
      |  in your name (or both!)
  p
    span Here&rsquo;s how you can get in touch with me 
  p
    span
      strong +1 (515) 257-6263
  p
    span or
  p
    span
      strong
        a(href="mailto:mail@nikhil.io" title="Email me") mail@nikhil.io
  p
    span Thank you! &#x1F917;
