doctype html
html(lang='en-US' direction='ltr')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

        title Nikhil Anand, Des Moines, Iowa
        base(href='/')

    body
        #background

        #instagram
            a
            span #[strong Oh no], Instagram-fail!

        #container
            h1 Hell#[span#real-o o]#[#countdown]!

            p I&#8217;m #[strong Nikhil Anand]. I help design and develop software systems for #[strong DuPont Pioneer] and #[br] live in wonderful #[strong Des Moines, Iowa].
                span#i-heart-dsm
                    span#iowa
                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 1224 864')
                            g
                                polyline(points='1048.021,745.777 1046.42,751.733 1040.148,758.474 1030.104,761.93 1020.996,763.257 999.26,773 992.577,780.905 992.39,787.25 998.482,792.063 1000.052,798.34 998.362,812.731 1001.092,823.9 998.643,826.669 992.245,828.227 986.563,832.156 980.943,827.463 978.357,827.57 976.323,823.963 970.984,822.825 970.475,816.497 968.646,814.96 969.648,811.35 960.643,809.436 959.23,804.188 953.143,799.158 951.883,792.058 938.291,787.571 938.544,780.076 933.252,777.075 928.369,773.026 888.747,774.188 841,777.069 808.395,777.676 753.233,780.379 739.414,780.964 665.195,782.835 613.026,783.991 575.71,783.915 532.425,784.435 487.517,785.35 444.808,785.799 396.989,784.499 367.038,783.717 312.653,782.532 255.179,780.27 223.215,778.979 148.693,775.932 150.834,767.912 148.958,762.199 128.562,739.46 133.803,723.791 135.224,709.662 137.706,704.158 137.512,696.324 137.821,677.722 133.528,670.405 134.031,662.186 130.548,654.237 134.796,643.348 131.66,629.273 134.916,628.688 135.115,625.219 124.296,621.484 123.222,617.957 125.51,613.602 122.378,593.976 126.079,592.458 128.524,598.009 130.26,594.381 120.244,584.26 121.188,570.368 122.633,553.244 119.249,550.597 109.048,547.861 107.894,545.03 111.236,540.414 111.868,536.237 109.9,533.991 101.119,536.864 94.413,533.299 93.443,526.771 95.659,523.569 90.035,517.554 92.754,503.471 88.996,495.889 88.71,493.127 95.764,490.796 93.27,483.952 93.521,478.523 98.173,468.876 87.487,450.478 83.203,439.786 86.045,434.597 86.088,424.086 79.022,420.208 75.823,416.046 69.557,414.671 69.293,407.76 64.389,402.389 61.301,383.338 49.002,371.558 47.268,359.836 52.257,356.079 53.474,348.292 51.735,342.706 47.003,338.485 43.305,330.554 36.998,325.125 39.615,317.162 38.809,308.538 42.75,301.815 43.324,295.315 35.375,289.491 27.954,282.146 26.658,270.166 24.565,267.587 26.956,266.002 22.839,253.334 17.829,244.852 13.794,243.149 2.263,232.596 0,222.291 1.71,215.179 7.915,209.632 10.736,200.619 13.43,200.988 16.71,197.971 20.651,185.342 19.547,180.993 25.378,171.409 25.273,162.741 28.879,156.371 25.334,146.204 32.947,143.833 36.324,140.478 36.665,137.375 38.74,127.655 35.468,106.51 32.927,104.164 19.744,101.774 18.309,98.135 19.818,94.714 17.837,92.024 16.519,85.229 23.84,81.026 27.563,68.635 27.416,61.702 21.519,57.292 16.025,48.223 17.44,36.494 14.915,31.843 40.395,32.779 114.227,35.507 150.138,36.441 224.491,38.188 237.117,38.274 325.161,40.25 336.375,40.276 411.195,41.797 449.762,41.959 500.23,41.985 559.466,42.093 587.738,42.186 670.316,41.721 675.341,41.739 762.123,41.261 781.514,41.235 850.988,40.311 915.202,38.986 937.257,38.238 1008.913,36.427 1006.878,45.664 1011.771,55.865 1014.492,69.396 1018.538,73.504 1037.094,83.316 1039.57,91.525 1039.26,97.332 1022.9,125.835 1022,142.306 1023.664,142.688 1025.633,162.937 1028.599,182.006 1037.523,195.605 1040.285,217.903 1043.538,227.578 1056.365,236.835 1071.496,243.08 1076.554,243.557 1104.267,248.069 1113.941,252.601 1120.215,269.29 1125.064,273.119 1127.848,279.928 1125.612,284.877 1123.203,288.681 1124.018,293.504 1132.139,297.063 1140.422,306.614 1154.361,314.539 1163.929,321.483 1166.73,326.322 1169.264,345.724 1171.504,351.057 1179.242,359.029 1187.707,361.985 1205.564,370.848 1213.36,379.976 1216.316,380.402 1218.263,384.59 1218.422,395.438 1222.023,402.313 1224,414.802 1222.3,428.408 1215.697,460.349 1204.641,466.982 1195.473,473.739 1191.762,482.453 1189.592,501.262 1190.369,513.011 1188.813,517.108 1174.766,522.612 1172.7,528.711 1169.021,532.905 1152.66,533.893 1141.39,538.457 1130.697,550.823 1121.358,554.271 1107.677,554.762 1095.442,556.481 1075.458,563.03 1065.63,560.819 1060.563,562.909 1055.314,568.679 1052.456,585.656 1047.384,602.855 1047.799,612.07 1056.865,625.842 1064.249,628.288 1069.776,633.585 1076.317,643.541 1077.191,652.155 1076.355,652.181 1076.109,682.668 1071.951,689.538 1059.574,701.182 1052.258,713.033 1052.042,731.382 1047.181,745.801')

                    span#heart
                        svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 650 600')
                            path(d='M 297.29747,550.86823 C 283.52243,535.43191 249.1268,505.33855 220.86277,483.99412 C 137.11867,420.75228 125.72108,411.5999 91.719238,380.29088 C 29.03471,322.57071 2.413622,264.58086 2.5048478,185.95124 C 2.5493594,147.56739 5.1656152,132.77929 15.914734,110.15398 C 34.151433,71.768267 61.014996,43.244667 95.360052,25.799457 C 119.68545,13.443675 131.6827,7.9542046 172.30448,7.7296236 C 214.79777,7.4947896 223.74311,12.449347 248.73919,26.181459 C 279.1637,42.895777 310.47909,78.617167 316.95242,103.99205 L 320.95052,119.66445 L 330.81015,98.079942 C 386.52632,-23.892986 564.40851,-22.06811 626.31244,101.11153 C 645.95011,140.18758 648.10608,223.6247 630.69256,270.6244 C 607.97729,331.93377 565.31255,378.67493 466.68622,450.30098 C 402.0054,497.27462 328.80148,568.34684 323.70555,578.32901 C 317.79007,589.91654 323.42339,580.14491 297.29747,550.86823 z')

            nav
                ul
                    li
                        a(href='https://www.linkedin.com/in/afreeorange')
                            span R&eacute;sum&eacute;
                    li
                        a(href='https://instagram.com/afreeorange')
                            span Photos
                    li
                        a(href='https://github.com/afreeorange')
                            span Code
                    br.mobile-hide
                    li
                        a(href='http://wiki.nikhil.io')
                            span Notes
                    li
                        a(href='/key')
                            span Key
                    li
                        a(href='mailto:mail@nikhil.io')
                            span Mail
