doctype html
html(lang='en-US' direction='ltr')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title Nikhil Anand, Des Moines, Iowa
        base(href='/')

        link(rel='stylesheet' href='nikhil.io.css')

    body
        #background

        #instagram
            a
            span #[strong Oh no], Instagram-fail!

        #container
            h1 Hell#[span#real-o o]#[#countdown]!

            p I&#8217;m #[strong Nikhil Anand]. I help design and develop software systems for #[strong DuPont Pioneer]. #[br] I live in wonderful #[strong Des Moines, Iowa].

            nav
                ul
                    li
                        a(href='https://www.linkedin.com/in/afreeorange')
                            span R&eacute;sum&eacute;
                    li
                        a(href='https://instagram.com/afreeorange')
                            span Photos
                    li
                        a(href='https://github.com/afreeorange')
                            span Code
                    li
                        a(href='http://wiki.nikhil.io')
                            span Notes
                    li
                        a(href='/key')
                            span Key
                    li
                        a(href='mailto:mail@nikhil.io')
                            span Mail

        script(type='text/javascript' src='nikhil.io.js')
