$white: #fff
$black: #111
$hawkeye-yellow: #ffe100 // GO HAWKS

@font-face
    font-family: '85CA4713-1006-482F-8EDA-B24A9051644F';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/85CA4713-1006-482F-8EDA-B24A9051644F/85CA4713-1006-482F-8EDA-B24A9051644F-300.woff') format('woff');

@font-face
    font-family: '85CA4713-1006-482F-8EDA-B24A9051644F';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/85CA4713-1006-482F-8EDA-B24A9051644F/85CA4713-1006-482F-8EDA-B24A9051644F-500.woff') format('woff');

@font-face
    font-family: '85CA4713-1006-482F-8EDA-B24A9051644F';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/85CA4713-1006-482F-8EDA-B24A9051644F/85CA4713-1006-482F-8EDA-B24A9051644F-700.woff') format('woff');

@font-face
    font-family: '85CA4713-1006-482F-8EDA-B24A9051644F';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/85CA4713-1006-482F-8EDA-B24A9051644F/85CA4713-1006-482F-8EDA-B24A9051644F-900.woff') format('woff');

body
    background: $black
    color: $hawkeye-yellow
    font-family: '85CA4713-1006-482F-8EDA-B24A9051644F', 'Inconsolata'
    font-kerning: normal
    font-size: 125%
    font-variant: common-ligatures, small-caps
    font-variant-ligatures: discretionary-ligatures
    line-height: 1.5
    overflow: hidden
    text-align: left

#background
    filter: blur(3px)
    height: 105%
    left: 0
    margin: -1em
    opacity: .45
    position: absolute
    top: 0
    width: 105%
    z-index: -999

#instagram
    bottom: .25em
     font-size: .75em
    position: absolute
    right: .5em

    a
        color: $white
        opacity: .35
        text-decoration: none

        :hover
            opacity: 1
            transition: opacity .5s

    span
        color: lighten($black, 10)
        display: none

        strong
            font-weight: 900

#container
    padding: 3.5em
    width: 31em

    h1
        font-size: 3em
        font-weight: 900
        margin-bottom: .75em
        text-shadow: 1px 1px 25px $black
        transition: color 1s ease

        #real-o
            display: none

        #countdown
            display: inline-block
            height: .525em
            width: .525em

    p
        font-size: 1.5em
        font-weight: 300
        text-shadow: 1px 1px 25px $black

        small
            font-size: .75em

        strong
            font-weight: 700

        img
            display: inline-block
            margin-bottom: -.2em
            width: 1.5em

    a
        border-bottom: 3px solid darken($hawkeye-yellow, 40)
        color: $hawkeye-yellow
        text-decoration: none
        transition: color .5s, border-bottom .5s

        :hover
            border-bottom: 3px solid darken($hawkeye-yellow, 15)
            transition: border-bottom .5s

    nav
        font-size: 1.15em
        margin-top: 2em
        text-shadow: 1px 1px 25px $black

        .mobile-hide
            display: none

        ul
            margin: 0
            padding: 0
            li
                display: inline
                margin-right: 1.5em

    #i-heart-dsm
        margin-left: .5em
        position: relative

        #iowa
            left: 0
            position: absolute
            top: 0

            svg
                width: 1.75em

                g
                    polyline
                        fill: $hawkeye-yellow
                        opacity: .35
                        transition: fill .5s

        #heart
            left: .5em
            position: absolute
            top: -.2em

            svg
                width: .65em

                path
                    fill: $black
                    transition: fill .5s

@media screen and (max-width: 750px)
    body
        font-size: 120%

@media screen and (max-width: 700px)
    body
        font-size: 110%

@media screen and (max-width: 640px)
    body
        font-size: 100%

@media screen and (max-width: 580px)
    body
        font-size: 90%

@media screen and (max-width: 520px)
    body
        font-size: 90%

    #instagram
        font-size: 1em

    #container
        padding: 3em 1em 1em
        width: auto

        p
            br
                display: none

        nav
            font-size: 1.3em

            .mobile-hide
                display: block

            ul
                text-align: left
                width: 100%

                li
                    display: inline-block
                    margin: 0 0 1em
                    width: 33%
